<div class="well">
    <h1>{{title}}</h1>

    <input class="form-control" placeholder="Search" ng-model="search">

    <table class="table table-bordered table-hover table-striped table-list">
        <thead>
            <tr>
                <th ng-click="sort('fname')"><span class="glyphicon sort-icon" ng-show="sortKey == 'fname'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></span> First Name</th>
                <th ng-click="sort('lname')"><span class="glyphicon sort-icon" ng-show="sortKey == 'lname'" ng-class="{'glyphicon-chevron-up': reverse, 'glyphicon-chevron-down': !reverse}"></span> Last Name</th>
            </tr>
        </thead>
        <tbody>
<!--            <tr ng-repeat="contact in contacts | orderBy:sortKey:reverse | filter:search" ng-click="view(client._id)">
-->
            <tr ng-repeat="client in clients" ng-click="view(client._id)">
                <td>{{client.fname}}</td>
                <td>{{client.lname}}</td>
            </tr>
            <tr ng-show="clients.length == 0">
                <td colspan="2">No Clients added yet!</td>
            </tr>
        </tbody>
    </table>
    <form name="addClientForm">
        <fieldset>
            <div class="form-group">
                <div class="pull-right">
                    <button class="btn btn-primary" ng-click="addclient()" ng-disabled="addClientForm.$invalid"><i class="fa fa-floppy-o"></i> Add</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>